@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}
img {
    max-width: none;
}
.titleHeading {
    background: linear-gradient(90deg, #4158d0, #c850c0 30%, #ffcc70);
    background: -webkit-linear-gradient(0deg, #4158d0, #c850c0 30%, #ffcc70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.welcome-view {
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: auto;
    height: 450px;
    &::before {
        content: "";
        position: absolute;
        top: 64px;
        left: 0;
        display: block;
        width: 100%;
        height: 450px;
        background-image: radial-gradient(
            circle,
            rgba(212, 211, 225, 0.1),
            rgba(43, 2, 94, 1) 60%
        );
    }
}
.welcome-view__content {
    position: sticky;
}
.first-view {
    background-position: 18rem center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    &::before {
        content: "";
        position: absolute;
        top: 89px;
        left: 0;
        display: block;
        width: 100%;
        height: 450px;
        background-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, 1),
            rgba(85, 85, 85, 0.5)
        );
    }
}
.first-view__content {
    height: inherit;
    position: absolute;
    top: 89px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 100;
}
.first-view__poster_path_img {
    height: 450px;
    width: 300px;
}
.search__first-view {
    background-image: linear-gradient(
        90deg,
        rgba(74, 55, 196, 1),
        rgba(74, 14, 255, 0.35)
    );
    height: 450px;
}
.tips-item {
    display: flex;
}
.tips-text {
    width: 9.5rem;
    position: relative;
    margin-left: 2rem;
}
.cross {
    &::after {
        position: absolute;
        top: -2px;
        right: 0;
        content: "×";
        display: block;
        width: 10px;
        height: 10px;
        right: 0;
    }
}
.circle {
    &::after {
        position: absolute;
        top: -2px;
        right: 0;
        content: "⚪︎";
        display: block;
        width: 10px;
        height: 10px;
        right: 0;
    }
}

.star-rating {
    display: flex;
    position: relative;
    height: 24px;
    line-height: 1;
}

.star-rating span {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.star-rating span:not(:first-child) {
    margin-left: 2px;
}

.star-rating > span {
    background: url(/images/icon_star_edge.png) no-repeat;
    background-size: 24px 24px;
}
.star-rating-front {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
}

.star-rating-front > span {
    background: url(/images/icon_star_.png) no-repeat 0 0;
    background-size: 24px 24px;
}
/*評価0の時*/
.star-rating-0 .star-rating-front {
    width: 0px;
}

/*評価0.5の時*/
.star-rating-05 .star-rating-front {
    width: 12px;
}

/*評価1の時*/
.star-rating-1 .star-rating-front {
    width: 24px;
}
/*評価1.5の時*/
.star-rating-15 .star-rating-front {
    width: 38px;
}
/*評価2の時*/
.star-rating-2 .star-rating-front {
    width: 50px;
}
/*評価2.5の時*/
.star-rating-25 .star-rating-front {
    width: 64px;
}

/*評価3の時*/
.star-rating-30 .star-rating-front {
    width: 80px;
}

/*評価3.5の時*/
.star-rating-35 .star-rating-front {
    width: 90px;
}

/*評価4の時*/
.star-rating-40 .star-rating-front {
    width: 100px;
}

/*評価4.5の時*/
.star-rating-45 .star-rating-front {
    width: 116px;
}
.search-poster-img {
    border-radius: 5px 0 0 5px;
}
.creatButton {
    background-image: linear-gradient(
        90deg,
        rgba(28, 134, 230, 1),
        rgba(58, 217, 225, 1)
    );
}
.deleteButton {
    background-image: linear-gradient(
        90deg,
        rgba(181, 19, 1, 1) 28%,
        rgba(242, 5, 39, 1)
    );
}
